@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<a class="btn btn-primary" href="/Test/1">CLICK ME</a>

<a class="btn btn-primary" href="/Test2">YOU CAN ALSO CLICK ME</a>